.header {
  padding-top: 50px;
}
.logo__img {
  display: block;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.main {
  padding-bottom: 100px;
}
.pokemon {
}
.pokemon__form {
  display: flex;
  justify-content: center;
}
.pokemon__search {
  width: 250px;
  height: 40px;
  outline: none;
  margin: 1.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #f9f54b;
  border-top: 2px solid #f9f54b;
  border-radius: 50px;
  line-height: 1.2rem;
  font-size: 1.4rem;
  text-align: center;
  color: #f9f54b;
  letter-spacing: 2px;
  font-family: "Caveat", cursive;
}

.pokemon__search::placeholder {
  text-align: center;
  color: #f9f54b;
  letter-spacing: 2px;
  font-family: "Caveat", cursive;
}

.pokemon__list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.pokemon__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  min-width: 200px;
  max-width: 200px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.9);
  border-top: 1px solid #d6c887;
  border-bottom: 1px solid #d6c587;
  margin: 10px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.1);
  }
}
.item {
}
.item__img {
  max-width: 125px;
  width: 100%;
  margin: 0 auto;
  filter: drop-shadow(0 5px 3px black);
}
.item__textbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item__title {
  letter-spacing: 1px;
  font-size: 1.5rem;
  color: rgb(238, 236, 236);
}
.item__type {
  color: #f9f54b;
  font-size: 1.2rem;
}

@media only screen and (min-width: 460px) {
  .pokemon__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 700px) {
  .pokemon__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 800px) {
  .pokemon__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1050px) {
  .pokemon__list {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (min-width: 1100px) {
  .pokemon__list {
    grid-template-columns: repeat(6, 1fr);
  }
}

.modal-content {
  background-color: #333;
}
.modal-header {
  border: none;
}
.modal-footer {
  border: none;
}
.modal {
  color: rgb(238, 236, 236);
}
.modal-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  font-size: 25px;
}

.modal-title {
  font-size: 30px;
}
.modal-height {
}
.modal-weight {
}
.modal-spawnTime {
}
.modal-multiplier {
}
