*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #b6a7ff;
  color: #fff;
}
main {
  flex-grow: 1;
}
ul {
  padding-left: 0;
  list-style: none;
}

li {
  text-decoration: none;
}
